# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
staticfiles/
media/

# Переменные окружения - никогда не коммитим!
.env

# IDE
.vscode/
.idea/
*.swp

# Docker
*.override.yml
